<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes List</a>
    <a routerLink="/products">Products</a>
  </nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
